.footer {
    padding: 4em max(3em, 6vw);
    padding-bottom: 0;
    background-color: #F6F7F9;
    margin-top: 4em;

    .top-footer {
        display: flex;
        justify-content: space-between;
        margin-bottom: 3em;

        @media (max-width: 767px) {
            flex-direction: column;
            width: fit-content;
            margin: auto;
            margin-bottom: 3em;

            .other-links{
                flex-wrap: wrap;
            }
        }
    }

    .bootom-footer{
        display: flex;
        justify-content: space-between;
        padding: 3em 0;
        border-top: 1px solid #ddd;

        .copyright{
            font-size: max(14px, .95vw);
        }

        .bootom-footer-right{
            display: flex;
            gap: 3em;
            a{
                color: #111;
                font-size: max(13px , .875vw);
            }
        }

        @media (max-width: 767px) {
            flex-direction: column-reverse;
            padding: 1em 0;

            .copyright{
                margin: 1em 0;
            }

            .bootom-footer-left{
                justify-content: space-between;
                margin: 1em 0;
                a{
                    color: #111;
                }
            }
        }

    }

    .logo {
        h5 {
            font-size: max(24px, 2vw);
            font-weight: 600;
            color: #3563E9;
        }

        .vision {
            font-size: max(13px, .9vw);
            width: max(20em);
            margin: 2em 0;
        }
    }

    .other-links {
        display: flex;
        gap: max(3em, 5vw);

        .footer-links-list {
            h6 {
                margin: 1em 0;
                font-size: max(15px, 1.15vw);
                font-weight: 500;
            }

            .links {
                display: flex;
                flex-direction: column;
                gap: 1em;
                font-size: max(12.5px, .8vw);

                a {
                    color: rgba(13, 13, 13, 0.60);
                }
            }
        }
    }
}