.navbar {
    background-color: transparent;
    padding: 1.2em max(2em, 6vw);
    z-index: 2000;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
        color: #3563E9;

        h1 {
            font-size: max(24px, 2vw);
            font-weight: 600;
        }
    }

    .auth{
        display: flex;
        gap: 2em;
        align-items: center;

        .sign-up{
            padding: .7em 2em;
        }

        a{
            color: #000;
        }
    }

    .profile {
        display: flex;
        align-items: center;
        gap: 2em;
        width: fit-content;
        margin-left: auto;
        background-color: inherit;

        .logout{
            .logout-btn{
                background-color: inherit;
                color: #fff;
                border: none;
                font-size: 1em;
                &:hover{
                    cursor: pointer;
                }
            }

            .logout-btn1{
                background-color: #3563E9;
                padding: .7em 1em;
                border-radius: 2em;
                color: #fff;
                border: none;
                font-size: .9em;
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
}

.nav__sticky {
    background-color: #fff;
    transition: ease-in-out .3s;
    -webkit-box-shadow: 0 0 5px #ddd;
    box-shadow: 0 0 5px #ddd;

    .auth{
        .sign-up{
            background-color: #3563E9;
            border-radius: 2em;
        }
        .login{
            color: #000;
        }

        a{
            color: #fff;
        }
    }

    .profile{
        .logout{
            .logout-btn{
                background-color: inherit;
                color: #111;
                border: none;
                font-size: 1em;
                &:hover{
                    cursor: pointer;
                }
            }

            .logout-btn1{
                background-color: #3563E9;
                padding: .7em 1em;
                border-radius: 2em;
                color: #111;
                border: none;
                font-size: .9em;
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
}


@media only screen and (max-width: 768px) {

    header {
        .navbar {

            .logo,
            .search-bar,
            .profile {
                display: none;
            }

            .mobile-nav {
                display: block;
            }
        }
    }
}