.navbar{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em max(2em, 6vw);
    position: relative;
    z-index: 2000;

    .logo{
        color: #3563E9;
        h1{
            font-size: max(24px, 2vw);
            font-weight: 600;
        }
    }

    .search-bar{
        display: flex;
        align-items: center;
        gap: .5em;
        margin-right: auto;
        margin-left: max(20px);
        border: 1px solid #ddd;
        padding: 0 1.2em;
        border-radius: 50px;

        input{
            border: none;
            height: max-content;
            height: 3em;
            outline: none;
            width: max(13em, 20vw);
        }
    }

    .profile{
        display: flex;
        align-items: center;
        gap: 2em;

        .user{
            background-color: #ddd;
            padding: 25px;
            border-radius: 25px;
        }
    }
}


@media only screen and (max-width: 1020px) {

    header{
        .navbar{
            .logo, .search-bar, .profile{
                display: none;
            }

            .mobile-nav{
                display: block;
            }
        }
    }
}