.banner1 {
    .banner1-row {
        display: flex;
        padding: 0 max(2em, 6vw);
        margin-top: 3em;
        gap: 4em;

        @media (max-width: 1330px) {
            gap: 2em;

        }

        @media (max-width: 920px) {
            flex-direction: column;
            gap: 2em;
        }

        @media (max-width: 680px) {
            padding: 0 2.4em;
        }

        .add1 {
            background: url("../../assets/Ads 1.png");
            background-repeat: no-repeat;
            background-position: 50%;
            background-size: cover;
            padding: 2em;
            color: #fff;
            border-radius: 10px;
            width: 100%;

            .add-text {
                width: 60%;

                @media (max-width: 500px) {
                    width: 80%;

                    .add1-button {
                        margin-bottom: 20px;
                    }
                }

                .add1-button {
                    border: none;
                    background-color: #050C21;
                    color: #fff;
                    padding: 1em 1.5em;
                    border-radius: 6px;
                }

                .add1-text {
                    margin: 15px 0;
                }
            }

            .add1-photo {
                display: flex;
                justify-content: center;
            }
        }

        .add2 {
            background: url("../../assets/Ads 2.svg");
            background-repeat: no-repeat;
            background-position: 50%;
            background-size: cover;
            padding: 2em;
            color: #fff;
            border-radius: 10px;
            width: 100%;

            .add-text {
                width: 60%;

                @media (max-width: 500px) {
                    width: 80%;

                    .add2-button {
                        margin-bottom: 20px;
                    }
                }

                .add2-button {
                    border: none;
                    background-color: #5CAFFC;
                    color: #fff;
                    padding: 1em 1.5em;
                    border-radius: 6px;
                }

                .add2-text {
                    margin: 15px 0;
                }
            }

            .add2-photo {
                display: flex;
                justify-content: center;
            }
        }

        .add1-title,
        .add2-title {
            font-size: max(24px, 1.875vw);
        }

        .add1-text,
        .add2-text {
            font-size: .9em;
        }
    }


    .pick-drop-cards {
        padding: 0 max(3em, 6vw);
        margin-top: 3em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        @media (max-width: 1180px){
            flex-direction: column;


            .switch-button{
                position: absolute;
                top: 39%;
                -webkit-box-shadow: 0 0 5px #3563E9;
                box-shadow: 0 0 5px #3563E9;
            }
            .p-card{
                margin-bottom: 1.4em;
            }
            .d-card{
                margin-top: 1.5em;
            }
        }

        .p-card,
        .d-card {
            -webkit-box-shadow: 0 0 10px #f3f3f3;
            box-shadow: 0 0 10px #f3f3f3;
            background-color: #fff;
            padding: max(1em, .8vw) max(1em, 2.4vw);
            border-radius: .7em;

            .d-card-info, .p-card-info{
                margin-top: .8em;
                .location, .date, .time{
                    .b{
                        font-weight: 600;
                        font-size: max(13px,.875vw);
                    }
                }
                .location, .date{
                    padding-right: 1.3vw;
                    border-right: 1px solid #ddd;
                }
                .date, .time{
                    padding-left: 1.3vw;
                }
            }
        }

        .p-card-title,
        .d-card-title {
            display: flex;
            gap: 1em;
        }

        .p-card-info,
        .d-card-info {
            display: flex;

            .row {
                display: flex;
                font-size: 11.5px;
                white-space: nowrap;
                margin-top: 13px;
                gap: max(7px);
            }

            .arrow-down {
                content: url('../../assets/arrow-down.svg');
                width: 1em;
            }
        }

        .switch-button {
            background-color: #3563E9;
            padding: 18px;
            height: fit-content;
            border-radius: 10px;

            .button-icon {
                content: url('../../assets/Swap.svg');
                width: 1.5em;
            }
        }
    }
}