.carousel {
    cursor: grab;
    overflow: hidden;
    margin-bottom: 4em;

    .inner-carousel {

        display: flex;
        gap: 2em;

        .car {
            background-color: #fff;
            padding: 1.4em 1em;
            border-radius: .7em;
            width: 380px;
            margin: 5px;
            pointer-events: none;
            -webkit-box-shadow: 0 0 10px #ddd;
            box-shadow: 0 0 10px #ddd;

            .top-info {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .name {
                    .car-name {
                        font-size: 1em;
                        font-weight: 600;
                    }

                    .car-type {
                        font-size: 13.5px;
                        margin: 10px 0;
                    }
                }

                .favorite {
                    &:hover {
                        cursor: pointer;

                        svg {
                            fill: #3563E9;

                            path {
                                stroke: #3563E9;
                            }
                        }
                    }
                }
            }

            .car-image {
                content: url('../../assets/image8.svg');
                margin: 3em auto;
                height: max(50px, 4vw);
            }

            .inside-car-info {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .gas,
                .drive-type,
                .car-seats {
                    display: flex;
                    gap: 5px;
                    font-size: max(13px, .9vw);
                    white-space: nowrap;
                }

                .gas-icon,
                .type-icon,
                .seats-icon {
                    width: max(15px, 1.1vw);
                }

            }

            .price {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 10px;

                .car-price {
                    font-size: max(13.5px, .9vw);
                }

                .rent-button {
                    background-color: #3563E9;
                    padding: .6em 1em;
                    border-radius: 5px;
                    margin-top: .5em;

                    a {
                        color: #fff;
                        font-size: max(13.5px, .95vw);
                    }
                }
            }
        }
    }
}