@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
}

a{
  text-decoration: none;
}

body{
  background-color: #fff;
}

.home{
  overflow: hidden;
}

.login{
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 11px;
}
::-webkit-scrollbar-track{
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb{
  background: #3563E9;
}

.car-detail-page .logout{
  color: #111;
}