.sidebar {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    overflow-y: auto;
    background-color: #fff;
    padding: 0 .7em;

    box-shadow: 10px 0 10px -5px #f3f3f3;
    -webkit-box-shadow: 10px 0 10px -5px #f3f3f3;

    .sidebar-logo {
        display: flex;
        align-items: center;
        gap: 1em;
        margin-left: .5em;
        margin-top: 1.5em;
        color: #111;

        h1 {
            font-size: max(20px, 1.5vw);
            font-weight: 600;
        }

        .car-icon {
            font-size: 1.5em;
        }
    }

    .sidebar-links {
        .links {
            padding: .5em;
            padding-top: 2em;
            padding-bottom: 0;

            .link {
                padding: 1em;
                border-radius: .5em;
                margin: 1em 0;
                color: #111;

                display: flex;
                align-items: center;
                gap: .8em;

                &:hover {
                    cursor: pointer;
                    background-color: #0093aa;
                    // background-color: rgb(3, 201, 215);
                    color: #fff;
                }
            }

            a{
                color: #fff;
            }

            .active-link {
                padding: 1em;
                border-radius: .5em;
                margin: 1em 0;
                display: flex;
                align-items: center;
                gap: .8em;
                // background-color: #0099ff;
                background-color: #0093aa;
            }
        }
    }
}